@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --darker-blue: rgb(77, 150, 169);
  --purple: #855fb1;
  --bold-font-color: #28283d;
  --reg-font-color: #87879d;
  --overline-blue: #8fe3f9;
  --light-purple: #d9b8ff;
  --white-font-color: #fafafa;
}

/* Font Classes */

.red-hat-display-h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 64px;
  color: var(--bold-font-color);
}

.red-hat-display-h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 44px;
  color: var(--bold-font-color);
}

.red-hat-display-h2-white {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 44px;
  color: var(--white-font-color);
}

.red-hat-display-body-medium {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
  color: var(--reg-font-color);
}

.red-hat-display-overline {
  font-size: 1rem;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--overline-blue);
}

.red-hat-display-darker-blue {
  font-size: 1rem;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--darker-blue);
}

.red-hat-display-white {
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  color: #fff;
}

/* CSS RESET */
html {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ol,
ul,
footer {
  margin: 0;
  padding: 0;
}

/* END OF CSS RESET */

header {
  padding: 4.41em 0;
}

header img {
  display: block;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.first-section {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* margin-bottom: 117px; */
  border: solid 2px red;
}

.hero-left {
  position: relative;
  top: -50px;
  left: -2.125em;
}

.hero-right {
  object-position: 2.125em;
}

.main-title {
  width: 77%;
  max-width: 445px;
  margin: 0 auto;
  border: solid 2px brown;
}

.first-section div:nth-child(2) {
  width: 38.025%;
  min-width: 450px;
  text-align: center;
  margin: 0 5.5em;
  border: solid 1px green;
}

.first-section div:nth-child(2) p {
  width: 100%;
  min-width: 327px;
  margin-top: 1.94em;
  margin-bottom: 1.85em;
}

/* .btn-group {
  margin-top: 32px;
} */

.btn1 {
  width: 35%;
  padding: 1em 0;
  border: none;
  border-radius: 29px;
  background-color: var(--darker-blue);
}

.btn1 span {
  color: var(--overline-blue);
}

.btn2 {
  width: 25%;
  padding: 1em 0;
  border: none;
  border-radius: 29px;
  background-color: var(--purple);
  margin-left: 1em;
}

.number-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
  /* height: 140px; */
  /* width: 56px; */
}

.number-component .line {
  /* width: 1px; */
  /* height: 84px; */
  stroke-width: 1px;
  stroke: var(--reg-font-color);
  opacity: 0.25;
}

.number-component .circle {
  /* width: 56px; */
  /* height: 56px; */
  border-radius: 29px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background: var(--white-font-color);
  text-align: center;
}

.circle span {
  display: inline-block;
  /* width: fit-content; */
  /* margin-top: 14px; */
  /* margin-bottom: 14px; */
}

.second-section {
  /* display: flex; */
  /* margin-top: 64px; */
  /* margin-bottom: 80px; */
}

.img-group {
  /* max-width: 255px; */
  /* max-height: 242px; */
  border-radius: 8px;
  /* margin-right: 30px; */
}

.second-section img:nth-child(1) {
  /* margin-left: auto; */
}

.second-section img:nth-child(4) {
  /* margin-right: auto; */
}

.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: auto; */
  text-align: center;
  /* margin-bottom: 72px; */
}

.third-section p:nth-child(1) {
  /* width: fit-content; */
  /* margin-bottom: 16px; */
}

.third-section h2 {
  /* max-width: 445px; */
  /* margin-bottom: 32px; */
}

.third-section p:nth-child(3) {
  /* max-width: 540px; */
}

.footer-overlay {
  border-image: linear-gradient(rgb(77, 150, 169, 0.8), rgb(77, 150, 169, 0.8))
    fill 1;
}

.footer-number-component {
  z-index: 1;
  position: absolute;
  top: -14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: relative;
  background-image: url("assets/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* min-height: 308px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding-left: 165px; */
  /* padding-right: 165px; */
  /* margin-top: 184px; */
}

footer h2 {
  /* max-width: 350px; */
}

footer p {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  /* max-width: 350px; */
  color: #fff;
  color: var(--white-font-color);
}

.footer-btn {
  /* width: 193px; */
  /* height: 58px; */
  border: none;
  border-radius: 29px;
  background-color: var(--purple);
}

.footer-btn span {
  color: var(--light-purple);
}

@media (min-width: 1440px) {
  .first-section {
    justify-content: space-between;
  }

  .first-section div:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
  }

  .first-section div:nth-child(2) {
    width: 61.4%;
  }

  .hero-left {
    position: static;
  }

  .hero-right {
    display: none;
  }
}