@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --footer-blue: #4D96A9;
    --purple: #855FB1;
    --bold-font-color: #28283D;
    --reg-font-color: #87879D;
    --overline-blue: #8FE3F9;
    --light-purple: #D9B8FF;
    --white-font-color: #FAFAFA;
}

/* Font Classes */

.red-hat-display-h1 {
    font-size: 4rem;
    font-weight: 900;
    line-height: 64px;
    color: var(--bold-font-color);

}

.red-hat-display-h2 {
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 44px;
    color: var(--bold-font-color);
}

.red-hat-display-body-medium {
    font-size: 1.1rem;
    font-weight: 500;
    line-height: 26px;
    color: var(--reg-font-color);
}

.red-hat-display-overline {
    font-size: 1rem;
    font-weight: 900;
    line-height: 26px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: var(--overline-blue);
}

.red-hat-display-white {
    font-size: 1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 26px;
    color: #FFF;
}

/* CSS RESET */
html {
    box-sizing: border-box;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-size: 16px;
    font-style: normal;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ol,
ul {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* END OF CSS RESET */

header {
    min-height: 13vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section {
    min-height: 26vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 117px;
}

.main-title {
    width: 25vw;
}

.hero-left {
    margin-top: -105px;
}

.first-section div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 31vw;
    text-align: center;
}

.first-section div:nth-child(2) p {
    margin-top: 34px;
}

.btn-group {
    margin-top: 32px;
}

.btn1 {
    width: 193px;
    height: 58px;
    border: none;
    border-radius: 29px;
    background-color: var(--footer-blue);
}

.btn1 span {
    color: var(--overline-blue);
}

.btn2 {
    width: 139px;
    height: 58px;
    border: none;
    border-radius: 29px;
    background-color: var(--purple);
    margin-left: 1rem;
}

.number-component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 140px;
    width: 56px;
}

.number-component .line {
    width: 1px;
    height: 84px;
    stroke-width: 1px;
    stroke: var(--reg-font-color);
    opacity: 0.25;
}

.number-component .circle {
    width: 56px;
    height: 56px;
    border-radius: 29px;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background: var(--white-font-color);
    text-align: center;
}

.circle span {
    display: inline-block;
    width: fit-content;
    margin-top: 14px;
    margin-bottom: 14px;
}

.second-section {
    display: flex;
    margin-top: 64px;
    margin-bottom: 80px;
}

.img-group {
    width: 255px;
    height: 242px;
    border-radius: 8px;
    margin-right: 30px;
}

.second-section img:nth-child(1) {
    margin-left: auto;
}

.second-section img:nth-child(4) {
    margin-right: auto;
}