@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --darker-blue: rgb(77, 150, 169);
  --purple: #855fb1;
  --bold-font-color: #28283d;
  --reg-font-color: #87879d;
  --overline-blue: #8fe3f9;
  --light-purple: #d9b8ff;
  --white-font-color: #fafafa;
}

/* Font Classes */

.red-hat-display-h1 {
  font-size: 4rem;
  font-weight: 900;
  line-height: 64px;
  color: var(--bold-font-color);
}

.red-hat-display-h2 {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 44px;
  color: var(--bold-font-color);
}

.red-hat-display-h2-white {
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 44px;
  color: var(--white-font-color);
}

.red-hat-display-body-medium {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 26px;
  color: var(--reg-font-color);
}

.red-hat-display-overline {
  font-size: 1rem;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--overline-blue);
}

.red-hat-display-darker-blue {
  font-size: 1rem;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: var(--darker-blue);
}

.red-hat-display-white {
  font-size: 1rem;
  font-style: normal;
  font-weight: 900;
  line-height: 26px;
  color: #fff;
}

/* CSS RESET */
html {
  box-sizing: border-box;
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
ol,
ul,
footer {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/* END OF CSS RESET */

header {
  padding: 4.41em 0;
}

header img {
  display: block;
  margin: 0 auto;
}

.container {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 117px;
}

.hero-left {
  width: 25%;
  align-self: flex-start;
  position: relative;
  top: -50px;
  left: -2.125em;
}

.hero-left img {
  width: 100%;
}

.hero-right {
  width: 25%;
  align-self: flex-start;
  object-position: 2.125em;
}

.main-title {
  width: 87%;
  max-width: 445px;
  margin: 0 auto;
}

.first-section div:nth-child(2) {
  width: 38.025%;
  min-width: 450px;
  text-align: center;
}

.first-section div:nth-child(2) p {
  width: 95%;
  max-width: 540px;
  margin-top: 1.94em;
  margin-bottom: 1.85em;
  margin-right: auto;
  margin-left: auto;
}

/* .btn-group {
  margin-top: 32px;
} */

.btn1 {
  width: 35%;
  padding: 1em 0;
  border: none;
  border-radius: 29px;
  background-color: var(--darker-blue);
}

.btn1 span {
  color: var(--overline-blue);
}

.btn2 {
  width: 25%;
  padding: 1em 0;
  border: none;
  border-radius: 29px;
  background-color: var(--purple);
  margin-left: 1em;
}

.number-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 3.4em 0;
  width: 56px;
}

.number-component .line {
  width: 1px;
  height: 84px;
  stroke-width: 1px;
  stroke: var(--reg-font-color);
  opacity: 0.25;
}

.number-component .circle {
  width: 56px;
  height: 56px;
  border-radius: 29px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background: var(--white-font-color);
  text-align: center;
}

.circle span {
  display: inline-block;
  margin-top: 14px;
  margin-bottom: 14px;
}

.second-section {
  margin: 0 10% 94px 10%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.img-group {
  border-radius: 8px;
}

.third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 24px 72px 24px;
}

.third-section p:nth-child(1) {
  margin-bottom: 16px;
}

.third-section h2 {
  max-width: 445px;
  min-width: 327px;
  margin-bottom: 32px;
}

.third-section p:nth-child(3) {
  max-width: 540px;
}

.footer-overlay {
  border-image: linear-gradient(rgb(77, 150, 169, 0.8), rgb(77, 150, 169, 0.8))
    fill 1;
}

.footer-number-component {
  z-index: 1;
  position: absolute;
  top: -14%;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer {
  position: relative;
  background-image: url("assets/desktop/image-footer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 308px;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
  padding-left: 165px;
  padding-right: 165px;
  margin-top: 184px;
}

footer h2 {
  max-width: 350px;
}

footer p {
  font-size: 1.1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  max-width: 350px;
  color: #fff;
  color: var(--white-font-color);
}

.footer-btn {
  width: 193px;
  height: 58px;
  border: none;
  border-radius: 29px;
  background-color: var(--purple);
}

.footer-btn span {
  color: var(--light-purple);
}

@media (min-width: 1440px) {
  .first-section div:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 1270px) {
  .red-hat-display-h1 {
    font-size: 3.5rem;
  }

  .red-hat-display-body-medium {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {
  .first-section {
    flex-direction: column;
  }

  .first-section div:nth-child(2) {
    width: 61.4%;
  }

  .hero-left {
    position: static;
  }

  .hero-right {
    display: none;
  }

  .second-section {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 48px;
  }

  footer {
    flex-direction: column;
    padding-left: 98px;
    padding-right: 98px;
    padding-bottom: 66px;
  }

  footer h2 {
    margin-top: 92px;
    margin-bottom: 32px;
  }

  footer p {
    text-align: center;
    max-width: 573px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .third-section h2 {
    font-size: 32px;
  }
  .second-section {
    margin-bottom: 64px;
  }
}
